.container
  .row
    .page-header.clearfix
    h1 #{title}
    .col-md-4
      samll 发现电影！
    .col-md-8
      form(action="/results", method="get")
        .input-group.col-md-4.pull-right
          input.form-control(type="text", name="q")
          span.input-group-btn
            button.btn.btn-default(type="submit") 搜索
.navbar.navbar-default.navbar-fixed-bottom
  .container
    .navbar-header
      a.navbar-brand(href="/") 这是导航栏
    if user
      p.navbar-text.navbar-right
        span 欢迎您，#{user.name}
        sapn &nbsp;|&nbsp;
        a.navbar-link(href="/logout") 登出
    else
      p.navbar-text.navbar-right
        a.navbar-link(href="/user/signup") 注册
        sapn &nbsp;|&nbsp;
        a.navbar-link(href="/user/signin") 登录
//- #signupModal.modal.fade
//-   .modal-dialog
//-     .modal-content
//-       form(action="/user/signup", method="post")
//-         .modal-header 注册
//-         .modal-body 
//-           .form-group
//-             label(for="signupName") 用户名
//-             input#signupName.form-control(name="user[name]", type="text")
//-           .form-group
//-             label(for="signupPassword") 密码
//-             input#signupPassword.form-control(name="user[password]", type="text")
//-         .modal-footer
//-           button.btn.btn-default(type="button", data-dismiss="modal") 关闭
//-           button.btn.btn-success(type="submit") 提交
//- #signinModal.modal.fade
//-   .modal-dialog
//-     .modal-content
//-       form(action="/user/signin", method="post")
//-         .modal-header 登录
//-         .modal-body 
//-           .form-group
//-             label(for="signinName") 用户名
//-             input#signupName.form-control(name="user[name]", type="text")
//-           .form-group
//-             label(for="signinPassword") 密码
//-             input#signupPassword.form-control(name="user[password]", type="text")
//-         .modal-footer
//-           button.btn.btn-default(type="button", data-dismiss="modal") 关闭
//-           button.btn.btn-success(type="submit") 提交