/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

div{
  border: solid 1px black;
}

.thumbnail{
  padding: 0px;
  
}
.thumbnail img{
  /* overflow: hidden; */
  max-width: 100%;
  
}

iframe, #player{
  width: 100%;
  margin: 0;
  padding: 0
}